/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

// fonts
$font-family-sans-serif: "Nunito Sans", sans-serif !default;
$font-family-monospace: "Roboto Mono", "Noto Sans Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// colors

$body-bg: #e3e3da !default;
$body-color: #e3e3da !default;
$link-color: $secondary; // darken($primary, 5) !default;

// code blocks
$code-block-bg: $body-bg !default;
$code-block-border-color: lighten($body-color, 60%) !default;
$code-block-font-size: 0.8em !default;

$dark-bg-text-color: $primary;

